In [4]:
# install libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
# Load data
ev_telemetry = pd.read_csv("/Users/oliverbrown/Desktop/Oli/Programming/Hack/Kaluza/ev_telem.csv")
hh_consump = pd.read_csv("/Users/oliverbrown/Desktop/Oli/Programming/Hack/Kaluza/hh_consump.csv")
accounts = pd.read_csv("/Users/oliverbrown/Desktop/Oli/Programming/Hack/Kaluza/accounts.csv")

In [7]:
# Visualise data
ev_telemetry.head()

              <?xml version="1.0" encoding="UTF-8"?>
0  <Error><Code>AccessDenied</Code><Message>Acces...

In [13]:
hh_consump.head()

,fromDateTime,toDateTime,usageKWh,hashed_account_no,fuel
0,2024-12-05 00:00:00 UTC,2024-12-05 00:30:00 UTC,0.124,1Bh+Oh8hPuDZMYQc/Bh7QBnLXplX7PHPSAp2O3KFIqFKuS...,Electricity
1,2024-12-05 00:30:00 UTC,2024-12-05 01:00:00 UTC,0.055,1Bh+Oh8hPuDZMYQc/Bh7QBnLXplX7PHPSAp2O3KFIqFKuS...,Electricity
2,2024-12-05 01:00:00 UTC,2024-12-05 01:30:00 UTC,0.030,1Bh+Oh8hPuDZMYQc/Bh7QBnLXplX7PHPSAp2O3KFIqFKuS...,Electricity
3,2024-12-05 01:30:00 UTC,2024-12-05 02:00:00 UTC,0.247,1Bh+Oh8hPuDZMYQc/Bh7QBnLXplX7PHPSAp2O3KFIqFKuS...,Electricity
4,2024-12-05 02:00:00 UTC,2024-12-05 02:30:00 UTC,0.795,1Bh+Oh8hPuDZMYQc/Bh7QBnLXplX7PHPSAp2O3KFIqFKuS...,Electricity

In [ ]:
# What does the accounts data look like?
accounts.head()

                                   hashed_account_no outcode  f0_
0  HGPIyPTO0FUscJrUGc/0KT0u98wGHew8I/KyVEJa93tGxX...      B1  NaN
1  k5RLTSWLn5Xa+MVZoJv9EfFODIxNmqNXdGAuvvmKAB7/yo...      B1  NaN
2  rGyqfevgb178aLbiQkU9K9j3jg/7B49IiN4rgQ1EgHjR59...      B1  NaN
3  S6rkE8bH4v0W/Dmah764UzALB1ShOeakHfWnF8cFRZSpOC...      B1  NaN
4  ABXHIESYnUnxFLtC4tFbvoWWXJGSgwbdLzbS5nXV4oIOgo...      B1  NaN

In [ ]:
# Where are the different EVs based?
accounts[["outcode"]].drop_duplicates()

     outcode
0         B1
7         B3
10        B5
16        B6
18        B7
...      ...
1104    WF14
1105    WF16
1106    YO14
1107    YO16
1108    YO25

[437 rows x 1 columns]

In [20]:
# Clean the accounts data t
accounts.loc[accounts['f0_' == 'NaN'], 'f0_'] = "0"
accounts.loc[accounts['f0_' == 'ev'], 'f0_'] = "1"
accounts.head()

KeyError: False